@attribute [CascadingTypeParameter(nameof(TItem))]
@inject PersistentComponentState State
@inherits Component
@typeparam TItem

<div class="table">
    <CascadingValue Value="this" IsFixed>
        @Content
    </CascadingValue>

    <Defer>
        <ForEach Items="Columns" Context="column">
            <div class="table-column" @key="column" />
        </ForEach>

        <div class="table-header">
            <ForEach Items="Columns" Context="column">
                <div class="table-cell" @key="column">
                    @column.Header
                </div>
            </ForEach>
        </div>

        <div class="table-body">
            @if (ItemsInView is { Length: > 0 } itemsInView)
            {
                <ForEach Items="itemsInView" Context="item">
                    <div class="table-row" @key="item">
                        <ForEach Items="Columns" Context="column">
                            <div class="table-cell" @key="column">
                                @column.Cell?.Invoke(item)
                            </div>
                        </ForEach>
                    </div>
                </ForEach>
            }
            else if (ItemsInView is { Length: 0 })
            {
                <div class="table-row empty">@Empty</div>
            }
            else
            {
                <div class="table-row loading">@Loading</div>
            }
        </div>

        @if (Pager is { } pager)
        {
            <div class="table-footer">
                <NavLink href="@pager.GetFirstPageUri()" />
                <NavLink href="@pager.GetPreviousPageUri()" />
                <span>@((CurrentPage * pager.PageSize) + 1) &ndash; @((CurrentPage + 1) * pager.PageSize)</span>
                <NavLink href="@pager.GetNextPageUri()" />
            </div>
        }
    </Defer>
</div>

@code {
    readonly List<Column<TItem>> Columns = [];
    const int DefaultPageSize = 10;

    TItem[]? ItemsInView;
    PersistingComponentStateSubscription ItemsInViewSubscription;

    [CascadingParameter(Name = nameof(CurrentPage))] int CurrentPage { get; set; }
    [CascadingParameter] Pager? Pager { get; set; }

    [CascadingParameter] ISelection<TItem>? Selection { get; set; }
    [CascadingParameter] Selector<TItem>? Selector { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
    [Parameter] public RenderFragment? Empty { get; set; }
    [Parameter] public RenderFragment? Loading { get; set; }
    [Parameter, EditorRequired] public required IAsyncCollection<TItem> Items { get; set; }

    protected override void OnInitialized()
    {
        if (State.TryTakeFromJson(nameof(ItemsInView), out TItem[]? items))
        {
            ItemsInView = items;
        }

        ItemsInViewSubscription = State.RegisterOnPersisting(PersistItemsInView);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && ItemsInView is null)
        {
            ItemsInView = State.TryTakeFromJson(nameof(ItemsInView), out TItem[]? items) ? items : await GetItemsInView();
            StateHasChanged();
        }
    }

    protected override void OnParametersSet()
    {
        Content ??= ChildContent;
        Empty ??= @<span>No data available</span>;
        Loading ??= @<span>Loading...</span>;
    }

    Task<TItem[]> GetItemsInView() => Pager is { PageSize: > 0 } pager
        ? Items.GetView(new(Skip: CurrentPage * pager.PageSize, Take: pager.PageSize), CancellationToken)
        : Items.ToArray(CancellationToken);

    async Task PersistItemsInView()
    {
        var items = await GetItemsInView();
        State.PersistAsJson(nameof(ItemsInView), items);
    }

    internal void AddColumn(Column<TItem> column)
        => Columns.Add(column);

    internal void RemoveColumn(Column<TItem> column)
        => Columns.Remove(column);

    protected override void OnDisposing()
        => ItemsInViewSubscription.Dispose();
}
