@attribute [CascadingTypeParameter(nameof(TItem))]
@inherits Component
@typeparam TItem

<div class="@TableClass">
    <CascadingValue Value="this" IsFixed>
        @Content
    </CascadingValue>

    <Defer>
        <div class="table-column" />
        <ForEach Items="Columns" Context="column">
            <div class="table-column @GetColumnClass(column)" @key="column" />
        </ForEach>

        <div class="table-header">
            <ForEach Items="Columns" Context="column">
                <div class="table-cell" @key="column">
                    @column.Header
                </div>
            </ForEach>
        </div>

        <div class="table-body">
            @if (ItemsInView is { Length: > 0 } itemsInView)
            {
                <ForEach Items="itemsInView" Context="item">
                    <div class="table-row @GetRowClass(item)" @onclick="() => OnRowPressed(item)" @key="item">
                        <ForEach Items="Columns" Context="column">
                            <div class="table-cell" @key="column">
                                @column.Cell?.Invoke(item)
                            </div>
                        </ForEach>
                    </div>
                </ForEach>
            }
            else if (ItemsInView is { Length: 0 })
            {
                <div class="table-empty">
                    @Empty
                </div>
            }
            else
            {
                <ForEach Items="Enumerable.Range(1, Pager?.PageSize ?? 1)" Context="index">
                    <div class="table-row" @key="index">
                        <ForEach Items="Columns" Context="column">
                            <div class="table-cell" @key="column">
                                ..
                            </div>
                        </ForEach>
                    </div>
                </ForEach>
            }
        </div>

        @if (Pager is { } pager)
        {
            <div class="table-footer">
                <NavLink href="@pager.GetFirstPageUri()">&le;</NavLink>
                <NavLink href="@pager.GetPreviousPageUri()">&lt;</NavLink>
                <span>@((CurrentPage * pager.PageSize) + 1) &ndash; @((CurrentPage + 1) * pager.PageSize)</span>
                <NavLink href="@pager.GetNextPageUri()">&gt;</NavLink>
            </div>
        }
    </Defer>
</div>

@code {
    readonly List<Column<TItem>> Columns = [];
    const int DefaultPageSize = 10;

    ClassList TableClass = (ClassList)"table loading";
    TItem[]? ItemsInView;
    bool HasBeenRendered;

    [CascadingParameter(Name = nameof(CurrentPage))] int CurrentPage { get; set; }
    [CascadingParameter] Pager? Pager { get; set; }

    [CascadingParameter] ISelection<TItem>? Selection { get; set; }
    [CascadingParameter] Selector<TItem>? Selector { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
    [Parameter] public RenderFragment? Empty { get; set; }
    [Parameter, EditorRequired] public required IAsyncCollection<TItem> Items { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ItemsInView = await GetItemsInView();
            TableClass -= "loading";
            StateHasChanged();
        }

        HasBeenRendered = true;
    }

    protected override void OnParametersSet()
    {
        Content ??= ChildContent;
        Empty ??= @<span>No data available</span>;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        var currentPage = CurrentPage;
        await base.SetParametersAsync(parameters);
        if (CurrentPage != currentPage && HasBeenRendered)
        {
            ItemsInView = null;
            TableClass += "loading";

            ItemsInView = await GetItemsInView();
            TableClass -= "loading";
            StateHasChanged();
        }
    }

    Task<TItem[]> GetItemsInView() => Pager is { PageSize: > 0 } pager
        ? Items.GetView(new(Skip: CurrentPage * pager.PageSize, Take: pager.PageSize))
        : Items.ToArray();

    ClassList GetColumnClass(Column<TItem> column)
        => new ClassList().Add("fill", column.Fill);

    ClassList GetRowClass(TItem item)
        => new ClassList().Add("selectable", Selector is not null)
                          .Add("selected", Selection?.IsActive(item) is true);

    void OnRowPressed(TItem item)
        => Selection?.Toggle(item);

    internal void AddColumn(Column<TItem> column)
        => Columns.Add(column);

    internal void RemoveColumn(Column<TItem> column)
        => Columns.Remove(column);
}
