@attribute [CascadingTypeParameter(nameof(TItem))]
@typeparam TItem where TItem : notnull
@inherits Component

<div class="table">
    <CascadingValue Value="this" IsFixed>
        @Content
    </CascadingValue>

    <Defer>
        <div class="table-column" />
        <ForEach Items="Columns" Context="column">
            <div class="table-column @GetColumnClass(column)" @key="column" />
        </ForEach>

        <div class="table-header">
            <ForEach Items="Columns" Context="column">
                <div class="table-cell" @key="column">
                    @column.RenderHeader()
                </div>
            </ForEach>
        </div>

        <div class="table-body @BodyClass">
            @if (Loading)
            {
                <div class="table-row">
                    <ForEach Items="Columns" Context="column">
                        <div class="table-cell" @key="column">
                            ..
                        </div>
                    </ForEach>
                </div>
            }
            else if (DisplayItems is { Length: > 0 } displayItems)
            {
                <ForEach Items="displayItems" Context="item">
                    <div class="table-row @GetRowClass(item)" @onclick="() => SelectRow(item)" @key="item">
                        <ForEach Items="Columns" Context="column">
                            <div class="table-cell" @key="column">
                                @column.RenderCell(item)
                            </div>
                        </ForEach>
                    </div>
                </ForEach>
            }
            else
            {
                <div class="table-empty">
                    @Empty
                </div>
            }
        </div>
    </Defer>
</div>

@code {
    readonly List<Column<TItem>> Columns = [];
    TItem[] DisplayItems = [];
    bool Loading = true;
    bool Initialized;
    Query? Query;

    [CascadingParameter] ISelection<TItem>? Selection { get; set; }
    [CascadingParameter] Transform? Transform { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
    [Parameter] public RenderFragment? Empty { get; set; }
    [Parameter] public IAsyncCollection<TItem>? Items { get; set; }

    ClassList BodyClass => ClassList.Create("loading", Loading)
                                    .Add("select", Selection is not null);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadDisplayItems();
            Initialized = true;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        Content ??= ChildContent ?? RenderDefaultContent();
        Empty ??= RenderDefaultEmpty();

        var newQuery = Transform?.Query;
        if (newQuery?.Equals(Query) is not true)
        {
            Query = newQuery;
            if (Initialized)
            {
                await LoadDisplayItems();
            }
        }
    }

    async Task LoadDisplayItems()
    {
        Loading = true;
        StateHasChanged();

        try
        {
            DisplayItems = Items is { } items ? await items.GetView(Query ?? new()) : [];
        }
        finally
        {
            Loading = false;
            StateHasChanged();
        }
    }

    ClassList GetColumnClass(Column<TItem> column)
        => ClassList.Create("fill", column.Fill);

    ClassList GetRowClass(TItem item)
        => ClassList.Create("active", Selection?.IsActive(item) is true);

    void SelectRow(TItem item)
        => Selection?.Toggle(item);

    internal void AddColumn(Column<TItem> column)
    {
        if (column.Position is { } position)
        {
            Columns.Insert(position, column);
        }
        else
        {
            Columns.Add(column);
        }

        StateHasChanged();
    }

    internal void RemoveColumn(Column<TItem> column)
    {
        Columns.Remove(column);
        StateHasChanged();
    }

    static Expression<Func<TItem, TValue>> CreateColumnExpression<TValue>(string propertyName)
    {
        var parameter = Expression.Parameter(typeof(TItem), "item");
        return Expression.Lambda<Func<TItem, TValue>>(Expression.Property(parameter, propertyName), parameter);
    }

    static RenderFragment RenderDefaultContent() => builder =>
    {
        var sequence = 0;
        var usedFill = false;

        var displayColumn = typeof(TItem).GetCustomAttribute<DisplayColumnAttribute>()?.DisplayColumn;
        var properties = typeof(TItem).GetProperties()
                                      .Where(p => p.GetCustomAttribute<DisplayAttribute>() is not null)
                                      .ToArray();

        foreach (var (property, index) in properties.Select((p, i) => (p, i)))
        {
            builder.OpenComponent(sequence++, typeof(ExpressionColumn<,>).MakeGenericType(typeof(TItem), property.PropertyType));
            var method = typeof(Table<TItem>).GetMethod(nameof(CreateColumnExpression),
                                                        genericParameterCount: 1,
                                                        BindingFlags.Static | BindingFlags.NonPublic,
                                                        [typeof(string)])!;

            var genericMethod = method.MakeGenericMethod(property.PropertyType);
            builder.AddComponentParameter(sequence++,
                                          nameof(ExpressionColumn<TItem, object?>.Expression),
                                          genericMethod.Invoke(obj: null, [property.Name]));

            if (property.Name.Equals(displayColumn, StringComparison.OrdinalIgnoreCase) || (!usedFill && index == properties.Length - 1))
            {
                usedFill = true;
                builder.AddComponentParameter(sequence++, nameof(Column<TItem>.Fill), true);
            }

            builder.CloseComponent();
        }
    };

    static RenderFragment RenderDefaultEmpty() => __builder =>
    {
        <span>No data available</span>
    };
}
