@attribute [CascadingTypeParameter(nameof(TItem))]
@typeparam TItem where TItem : notnull
@inherits Component

<div class="table">
    <CascadingValue Value="this" IsFixed>
        @ChildContent
    </CascadingValue>

    <Defer>
        <ForEach Items="Columns" Context="column">
            <div class="table-column @GetColumnClass(column)" @key="column" />
        </ForEach>

        <div class="table-header">
            <ForEach Items="Columns" Context="column">
                <div class="table-cell" @key="column">
                    @column.RenderHeader()
                </div>
            </ForEach>
        </div>

        <div class="table-body @BodyClass">
            <ForEach Items="DisplayItems" Context="item">
                <div class="table-row @GetRowClass(item)" @onclick="() => SelectRow(item)" @key="item">
                    <ForEach Items="Columns" Context="column">
                        <div class="table-cell" @key="column">
                            @column.RenderCell(item)
                        </div>
                    </ForEach>
                </div>
            </ForEach>
        </div>
    </Defer>
</div>

@code {
    readonly List<Column<TItem>> Columns = [];
    TItem[] DisplayItems = [];

    [CascadingParameter] ISelection<TItem>? Selection { get; set; }
    [CascadingParameter] Query? Query { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public IAsyncCollection<TItem>? Items { get; set; }

    ClassList BodyClass => ClassList.Create("select", Selection is not null);

    protected override Task OnAfterRenderAsync(bool firstRender)
        => firstRender ? LoadDisplayItems() : Task.CompletedTask;

    protected override void OnParametersSet()
        => ChildContent ??= CreateDefaultChildContent();

    async Task LoadDisplayItems()
    {
        DisplayItems = Items is { } items ? await items.GetView(Query ?? new()) : [];
        StateHasChanged();
    }

    ClassList GetColumnClass(Column<TItem> column)
        => ClassList.Create("fill", column.Fill);

    ClassList GetRowClass(TItem item)
        => ClassList.Create("active", Selection?.IsActive(item) is true);

    void SelectRow(TItem item)
        => Selection?.Toggle(item);

    internal void AddColumn(Column<TItem> column) => Columns.Add(column);
    internal void RemoveColumn(Column<TItem> column) => Columns.Remove(column);

    static Expression<Func<TItem, TValue>> CreateColumnExpression<TValue>(string propertyName)
    {
        var parameter = Expression.Parameter(typeof(TItem), "item");
        return Expression.Lambda<Func<TItem, TValue>>(Expression.Property(parameter, propertyName), parameter);
    }

    static RenderFragment CreateDefaultChildContent() => builder =>
    {
        var sequence = 0;
        var usedFill = false;

        var displayColumn = typeof(TItem).GetCustomAttribute<DisplayColumnAttribute>()?.DisplayColumn;
        var properties = typeof(TItem).GetProperties()
                                      .Where(p => p.GetCustomAttribute<DisplayAttribute>() is not null)
                                      .ToArray();

        foreach (var (property, index) in properties.Select((p, i) => (p, i)))
        {
            builder.OpenComponent(sequence++, typeof(ExpressionColumn<,>).MakeGenericType(typeof(TItem), property.PropertyType));
            var method = typeof(Table<TItem>).GetMethod(nameof(CreateColumnExpression),
                                                        genericParameterCount: 1,
                                                        BindingFlags.Static | BindingFlags.NonPublic,
                                                        [typeof(string)])!;

            var genericMethod = method.MakeGenericMethod(property.PropertyType);
            builder.AddComponentParameter(sequence++,
                                          nameof(ExpressionColumn<TItem, object?>.Expression),
                                          genericMethod.Invoke(obj: null, [property.Name]));

            if (property.Name.Equals(displayColumn, StringComparison.OrdinalIgnoreCase) || (!usedFill && index == properties.Length - 1))
            {
                usedFill = true;
                builder.AddComponentParameter(sequence++, nameof(Column<TItem>.Fill), true);
            }

            builder.CloseComponent();
        }
    };
}
